<ul id="main_menu" class="container-fluid">

  <li class="main_list">Toys
  <ul>
  <p class="category_header">Buy Any Electronics Item And Get Flat 50% OFF</p>
  <ol>
  <li>Mobiles</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Tablets</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Cameras</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Television</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  </ul>
  </li>
  
  <li class="main_list">Event Needs
  <ul>
  <p class="category_header">Buy Any Food&Snacks Item And Get Upto 40% OFF</p>
  <ol>
  <li>Pulses</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Wheat & Oil</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Fruits</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Snacks</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  </ul>
  </li>
  
  <li class="main_list">Gifts
  <ul>
  <p class="category_header">Buy Any Clothing Item And Get Upto 70% OFF</p>
  <ol>
  <li>Mens</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Womens</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>Kids</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  
  <ol>
  <li>New Born</li>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
  <li>Item4</li>
  <li>Item5</li>
  </ol>
  </ul>
  </li>

  
  </ul>
